$primary-color: #01579b;
$primary-dark-color: #003b6c;
$primary-contrast-color: white;

$secondary-color: #ff1744;
$secondary-dark-color: #b2102f;
$secondary-contrast-color: white;

$short-transition-time: 200ms;

$spacing: 8px;

$border-radius: 4px;
