.UserCard {
  &:hover {
    cursor: pointer;
    background: whitesmoke;
  }

  &.CreateCard {
    .CreateButton {
      color: darkseagreen;
      font-weight: 600;
    }
  }

  .UserImage {
    height: 250px;
    object-fit: cover;
  }

  .DeleteIcon {
    position: absolute;
    top: 15px;
    right: 15px;
    opacity: 0.5;
    color: indianred;

    &:hover {
      opacity: 1;
    }
  }
}
